ul {
    list-style-type:none;
    margin-bottom: 15px;
    background-color: #1eb4e6;
}

li {
    display: inline-block;
}

a {
    display: inline-block;
    text-decoration:none;
    padding:5px;
    color:white;
}

a:hover {
    color:black;
}

#main_content{
	width:900px;
	margin:auto;
}