/* To Do: Alphabetize  sort; */

ul {
    list-style-type:none;
    margin-bottom: 15px;
    background-color: #1eb4e6;
}

li {
    display: inline-block;
}

a {
    display: inline-block;
    text-decoration:none;
    padding:5px;
    color:white;
}

a:hover {
    color:black;
}

#logo{
    width:20%;
    height:100%;
}

#header{
	width:60%;
	margin:auto;
}

#nav_container{

}

#left_content{
    position: fixed;
    height: 100%;
    left:0px;
    width:20%;
    bottom:0px;
    background: URL('background.png') left top / cover;
}

#middle_content{
    margin: 100px 200px;
    height:100%;
}

#right_content{
    position:fixed;
    height:100%;
    right:0px;
    bottom:0px;
    width:20%;
    background: URL('background.png') right top / cover;

}

