/* To Do: Alphabetize  sort; */
* {
  margin: 0;
  padding: 0;
}

body {
    padding:0;
    margin:0;
}

a {
    display: inline-block;
    text-decoration:none;
    padding: 15px 0 15px 0;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
}

a:hover {
    color:black;
}

#logo{
    width:20%;
    height:100%;
}

#header{
	width:60%;
	margin: auto;
}

#nav_container{
    list-style-type:none;
    background-color: #1eb4e6;

}

.nav_button{
    display: inline-block;
    width:24.5%;
    text-align:center;
}

#greeting{
    padding:20px;
}

#left_content{
    position: fixed;
    height: 100%;
    left:0px;
    width:20%;
    bottom:0px;
    background: URL('background.png') left top / cover;
}

#middle_content{
    width:60%;
    height:100%;
    margin:auto;

}

#right_content{
    position:fixed;
    height:100%;
    right:0px;
    bottom:0px;
    width:20%;
    background: URL('background.png') right top / cover;

}

#trending{
    width:100%;
    margin:auto;
    min-height:500px;
    height:100%;
    padding:20px;
}

